body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-x: hidden;
    background: #4e34e2;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 100%;
    height: 100%;
    background: #4e34e2;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

  /* Profile image */
  .avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
  }
  
  /* Hover effect for image */
  .avatar:hover {
    transform: scale(1.05);
  }
  
  /* Header text */
  .header h1 {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin: 20px;
    
  }
  

.login-box {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px 20px 0 0px;
    padding: 20px;
    margin-top: 50%;
    width: 100%;
    height: 700px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.logo {
    font-size: 36px;
    font-weight: 700;
    color: #0d1013;
    margin-bottom: 10px;
}

.welcome-text {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-group {
    position: relative;
    display: flex;
    align-items: center;
}

.input-group i {
    position: absolute;
    left: 15px;
    color: #999;
}

.input-group input {
    width: 100%;
    padding: 12px 12px 12px 40px;
    border: 1px solid #ddd;
    border-radius: 25px;
    font-size: 16px;
    outline: none;
    background-color: #fff;
}

.login-btn {
    padding: 12px;
    background: linear-gradient(90deg, #ffd700, #ffa500);
    border: none;
    border-radius: 25px;
    color: #140a0a;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: transform 0.2s;
}

.login-btn:hover {
    transform: scale(1.05);
}

.forgot-text {
    font-size: 12px;
    color: #0c0505;
    margin-top: 10px;
}


.forgot-text a {
    color: #ff4444;
    text-decoration: none;
}

.forgot-text a:hover {
    text-decoration: underline;
}