body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #f4f6f9;
    color: #222;
}

.container {
    width: 90%;
    max-width: 450px;
    margin: 40px auto;
    text-align: center;
}

h2 {
    margin-bottom: 25px;
}

.bank-card {
    background: #fff;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 12px;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform .2s;
    font-size: 20px;
}

.bank-card:hover {
    transform: scale(1.03);
}

.bank-card i {
    font-size: 28px;
    color: #0057ff;
    margin-right: 10px;
}

label {
    display: block;
    margin: 10px 0 5px;
    text-align: left;
}

input {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

button {
    margin-top: 15px;
    width: 100%;
    padding: 12px;
    border: none;
    background: #0057ff;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

.hidden {
    display: none;
}
