body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #f4f6f9;
    color: #222;
}

.container {
    width: 90%;
    max-width: 450px;
    margin: 40px auto;
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.12);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, select {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

button {
    margin-top: 20px;
    width: 100%;
    padding: 14px;
    border: none;
    background: #0057ff;
    color: white;
    border-radius: 10px;
    font-size: 17px;
    cursor: pointer;
}

button:hover {
    background: #003dbf;
}
